.lesson {
  display: inline-block;
  padding: 3px;
  border-radius: 6px;
  border: 1px solid rgba(128, 128, 128, 0.69);
  margin: 1px 0;
  width: 129px;
}

.course {
    padding: 5px;
    border: 1px solid grey;
    margin: 5px;
    border-radius: 5px;
}

input {
    height: 50px;
    width: 150px;
    /* display: block; */
    margin: 10px;
    padding-left: 8px;
}

textarea {
    display: block;
    margin: 9px;
    width: 324px;
}

.row {
    border: 1px solid grey;
}

.col-md-8 {
    border: 1px solid grey;
}

form {
    margin-bottom: 5px;
}
