.lesson {
  display: inline-block;
  padding: 3px;
  border-radius: 6px;
  border: 1px solid rgba(128, 128, 128, 0.69);
  margin: 1px 0;
  width: 260px;
  background-color: white;
}

.course {
    padding: 5px;
    border: 1px solid grey;
    margin: 5px;
    border-radius: 5px;
}

input {
    height: 50px;
    width: 150px;
    /* display: block; */
    margin: 10px;
    padding-left: 8px;
}

textarea {
    display: block;
    margin: 9px;
    width: 324px;
}

.row {
    border: 1px solid grey;
}

.col-md-8 {
    border: 1px solid grey;
}

form {
    margin-bottom: 5px;
}

aside.lesson-link-sidebar {
  position: fixed;
  background: rgb(250,250,250);
  left: 0;
  bottom: 0;
  top: 187px;
  width: 300px;
}

.course-hour-progress-bar {
  height: 50px;
  border: 1px solid black;
}

.current-progress {
  background-color: blue;
}

.total-progress {
  width: 100px;
}
