<button ng-click="hideSideBar = !hideSideBar">Toggle Lesson Sidebar</button>
<div class="container">
  <h1>Course: {{course.name}}</h3>
  <h3>Hours: {{course.hours}}</h3>
  <div class="course-hour-progress-bar total-progress">
    <div class="course-hour-progress-bar current-progress" ng-style="progressBar"></div>
  </div>
  <div class="row">
  <div class="col-md-12">
    <form name="newLessonForm" ng-submit='addLesson(newLessonForm.$valid)' novalidate>
      <input type='text' ng-model='newLesson.name' placeholder="name of lesson" required>
      <input type='number' ng-model='newLesson.hours' placeholder="total lesson hours" required>
      <button ng-disabled="isGuest" class="btn btn-lg btn-success" type="submit">Add Lesson</button>
    </form>
  </div>
    <div class="col-md-12">
      <input type="text" placeholder="Filter Lessons" ng-model="search">
    </div>
    <aside ng-hide="hideSideBar" class="lesson-link-sidebar">
      <div class="col-md-12 fx-zoom-left fx-speed-500 fx-easing-back" ng-repeat="lesson in course.lessons | filter:search">
        <lesson-link lesson="lesson"></lesson-link>
      </div>
    </aside>
  </div>
  <div ui-view></div>
</div>
