<div class="row">
  <div class="col-md-12">
    <form name="newCourseForm" ng-submit='addCourse(newCourseForm.$valid)' novalidate>
      <input type='text' ng-model='newCourse.name' placeholder="name of course" required>
      <input type='number' ng-model='newCourse.hours' placeholder="total course hours" required>
      <button ng-disabled="isGuest" class="btn btn-lg btn-success" type="submit">Add Course</button>
    </form>
  </div>
  <div class="col-md-12">
    <input type="text" placeholder="Filter Courses" ng-model="search">
  </div>
  <div class="col-md-4 fx-zoom-left fx-speed-500 fx-easing-back" ng-repeat="course in user.courses | filter:search">
     <div class="course">
       <h2><a ui-sref="courses.course({courseId:course.id})">{{ course.name }}</a></h2>
       <h4>hours : {{ course.hours }}</h4>
     </div>
  </div>
</div>
